.navbar{
    background-color: rgb(15, 15, 158);
    color: #ffffff;
}

#container-populares{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
}
#container-catelera{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
}
.pelicula{
    flex:0 0 auto;
}

.titulo{
    width: 200px;
    height: 50px;
    align-content: center;
}
.imgPopulares{
    width: 200px;
    height: 300px;
    padding: 10px;
    border-radius: 50px;
}

.desplegable-padre{
    list-style: none;
    margin: 0;
    padding: 0;
}

.desplegable-padre ul li{ 
    background-color:#2e518b;
}
.desplegable-padre ul ul{ 
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #eee;
    padding: 0;
}
.desplegable-padre ul ul li{ 
    float:none;
    width: 150px;
}
.desplegable-padre ul ul a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 120%;
    padding: 10px 15px;
}
.desplegable-padre ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.desplegable-padre ul li:hover{
    background:#5b78a7;
}
.desplegable-padre ul li:hover .desplegable{
    display: block;
}